<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
       xmlns="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
      http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security.xsd">
    <http pattern="/css/**" security="none"/>
    <http pattern="/js/**" security="none"/>
    <http pattern="/assets/**" security="none"/>
    <http pattern="/login.jsp*" security="none"/>
    <http pattern="/**.ico" security="none"/>

    <!-- 未登录的切入点 -->
    <beans:bean id="authenticationProcessingFilterEntryPoint" class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
        <beans:constructor-arg name="loginFormUrl" value="/login.jsp"></beans:constructor-arg>
    </beans:bean>

    <http entry-point-ref="authenticationProcessingFilterEntryPoint">
        <intercept-url pattern="/index.jsp" access="isAuthenticated()" />
        <intercept-url pattern="/**" access="isAuthenticated()" />

        <csrf disabled="true"/>
        <!--<form-login  login-page="/login.jsp" default-target-url="/index.jsp" authentication-failure-url="/login.jsp"/>-->
        <logout logout-url="/logout" />

        <custom-filter ref="loginFilter" position="FORM_LOGIN_FILTER"  />

        <session-management invalid-session-url="/login.jsp" session-authentication-error-url="/login.jsp" >
                <concurrency-control max-sessions="1" error-if-maximum-exceeded="true" />
        </session-management>
    </http>

    <authentication-manager alias="myAuthenticationManager">
        <!-- 认证提供者 -->
        <security:authentication-provider ref="daoAuthenticationProvider">
        </security:authentication-provider>
    </authentication-manager>

    <beans:bean id="daoAuthenticationProvider" class="com.handtours.ext.MyDaoAuthenticationProvider">
        <beans:property name="userDetailsService" >
            <beans:bean class="com.handtours.ext.MyUserDetailServiceImpl"></beans:bean>
        </beans:property>

        <beans:property name="passwordEncoder">
            <beans:bean id="md5Encoder" class="org.springframework.security.authentication.encoding.Md5PasswordEncoder">
            </beans:bean>
        </beans:property>

        <beans:property name="hideUserNotFoundExceptions" value="false"/>
    </beans:bean>


    <!-- 登录验证器 -->
    <beans:bean id="loginFilter"
          class="com.handtours.ext.MyUsernamePasswordAuthenticationFilter">

        <beans:property name="filterProcessesUrl" value="/j_spring_security_check"></beans:property>

        <beans:property name="authenticationSuccessHandler" >
            <beans:bean class="org.springframework.security.web.authentication.SavedRequestAwareAuthenticationSuccessHandler">
                <beans:property name="defaultTargetUrl" value="/index.jsp"></beans:property>
            </beans:bean>
        </beans:property>

        <beans:property name="authenticationFailureHandler" >
            <beans:bean class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler">
                <beans:property name="defaultFailureUrl" value="/login.jsp"></beans:property>
            </beans:bean>
        </beans:property>

        <beans:property name="authenticationManager" ref="myAuthenticationManager"></beans:property>

    </beans:bean>

</beans:beans>